@media screen and ( max-width: 900px){
    /* *{
        border: solid 1px #fff;
    } */
    nav{
        height: 0;
        width: 0;
        overflow: hidden;
    }
    .fieldset_box{
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .three_line{
        width: 40px;
        height: 30px;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-gap: 5px;
        float: right;
        margin-top: 15px;
        cursor: pointer;
        /* border: solid 1px #fff; */
    }
    .three_line_{
        border-radius: 5px;
        background-color: #fff;
    }
    .close{
        width: 105%;
        height: 0;
        transition: 1s;
        /* border: solid 1px #fff; */
    }
    .close ul{
        width: 100%;
        display: block;
        /* border: solid 1px #fff; */
        margin: 20px auto;
    }
    .close ul li{
        width: 100%;
        text-align: center;
        /* border: solid 1px #fff; */
    }
    .h_area{
        width: 100%;
    }
    .icon{
        margin-left: 5%;
    }
    .three_line_box{
        margin-right: 5%;
    }
    #check_box:checked  ~  .close{
        height: auto;
    }
}
@media screen and ( max-width: 780px){
    .banner_picture{
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .banner_picture_2{
        width: 100%;
        height: auto;
    }
    .banner_picture_2 img{
        width: 100%;
        object-fit: cover;
    }
    .area{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .s_box_l,.s_box_r{
        width: 90%;
    }
    .s_box_r{
        margin-bottom: 20px;
    }
    .movie{
        width: 70%;
        height: auto;
    }
    .movie_pic img{
        transform: scale(1.1);
    }
    .movie_play{
        transform: translateX(-50%) translateY(-50%) scale(.8);
    }
    .movie_box_for{
        width: 100%;
    }
    .boom{
        transform: scale(.7);
        left: 0px;
    }
    .people{
        left: -130px;
        top: -50px;
        z-index: 106;
        animation: samll_ani 6s infinite;
    }
    .thing{
        top: -120px;
        right: -30px;
        z-index: 106;
        animation: samll_ani 6s infinite;
    }
    .s_box3{
        position: relative;
        margin: auto;
    }
    .sub_title{
        width: 70%;
        margin: auto;
    }
    .read_more{
        margin: 40px auto;
    }
    .pink,.s5_bg{
        flex-wrap: wrap;
    }
    .s_box4_l,.s_box4_r,.s_box5{
        width: 100%;
        margin: 10px;
    }
    .white_block{
        width: 308px;
        position: relative;
        margin: auto;
    }
    /* .talk_box{
        width: 50%;
    } */
}
@media screen and ( max-width: 600px){
    .title_pic{
        width: 80%;
    }
    .title_pic img{
        width: 100%;
    }
    .sub_title{
        width: 80%;
        position: relative;
    }
    .sub_title img{
        transform: scale(.7);
    }
    .title_text{
        margin: 0;
    }
    .sub_title span{
        position: absolute;
        right: -20px;
        top: -50px;
    }
    .movie_play{
        transform: translateX(-50%) translateY(-50%) scale(.7);
    }
    .movie_bottom{
        transform: translateX(-50%) translateY(30%) scale(.7);
    }
    .movie:hover .movie_play{
        transform: translateX(-50%) translateY(-50%) scale(.8); 
    }
}
@media screen and (max-width: 500px){
    .hover_more{
        transform: translateX(-50%) translateY(-50%) scale(.8);
    }
    .banner_box:hover .hover_more{
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(.5)
    }
    .s_box_l:hover .hover_more, .s_box_r:hover .hover_more{
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(.7);
    }
    .s_box2{
        width: 90%;
    }
    .movie_play{
        transform: translateX(-50%) translateY(-50%) scale(.4);
    }
    .movie_bottom{
        transform: translateX(-50%) translateY(30%) scale(.4);
    }
    .movie:hover .movie_play{
        transform: translateX(-50%) translateY(-50%) scale(.5); 
    }
    .boom{
        transform: scale(.5);
        left: -40px;
    }
    .people,.thing{
        opacity: 0;
    }
    .section2_bg2{
        background: none;
    }
    .title_text, .title_text img{
        width: 100%;
    }
    .talk_box{
        width: 90%;
    }
    .talk_box_box{
        width: 98%;  
    }
}