/* *{
    border: solid 1px #fff;
} */
body{
    background-color: #000;
    width: 100%;
    overflow-x: hidden;
}
.top{
    height: 36px;
    text-align: right;
    padding: 10px 20px;
    z-index: 555;
}
header{
    height: auto;
    background-color: #242424;
    display: flex; 
    align-items: center;
}
.h_area{
    width: 90%;
    margin: auto;
    position: relative;
}
.icon{
    float: left;
    margin: 12px 0;
}
.three_line{
    width: 0;
}
.close{
    width: 0;
    height: 0;
    overflow: hidden;
}
nav ul{
    display: flex;
    position: relative;
    width: 60%;
}
nav ul li{
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: 2px;
    padding: 20px 15px;
    color: #fff;
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.781);
}
nav ul li:hover{
    background-color: rgba(0,55,145,1);
}
#check_box{
    display: none;
}
/*藏起來的部分*//*藏起來的部分*//*藏起來的部分*/
.blue_list{
    position: fixed;
    width: 100vw;
    height: 0px;
    background: -webkit-radial-gradient(bottom, ellipse cover,rgba(0,144,236,1) -100%,rgba(0,55,145,1) 100%);
    /* left: -30vh; */
    /* transform: translateY(99%); */
    /* bottom: 0;    */
    left:0;
    top: 98.5px;
    z-index: 1;
    transition: .3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.blue_list_area{
    width: 80%;
    display: flex;
    justify-content: center;
}
.blue_list_item{
    display: block;
    margin: 20px 35px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 36px;
}
.blue_list_item figure{
    width: 100px;
    height: 80px;
}
.blue_list_item img{
    width: 100%;
}
.blue_list_item:hover{
    filter: opacity(.8);
    color: rgb(95, 255, 255)
}
/*藏起來的部分*//*藏起來的部分*//*藏起來的部分*/
nav ul li:hover .blue_list{
    height: 160px;
}
.icon{
    margin-right: 20px;
}
.fieldset_box{
    position: absolute;
    right: 0;
    top: 5px;
}
fieldset{
    position: relative;
    margin: 12px 0;
    border: none;
}
input{  
    height: 32px;
    width: 100%;
    padding: 0 30px 0 10px;
    background-color: #333;
    border-radius: 3px;
    border: none;
}
#serach{
    position: absolute;
    right: 10px;
    top: 8px;
}
/* header的部分到這裡 */
.banner{
    background: #f83680 url(images/section1_bg2_2.jpg) no-repeat left top;
    border-bottom: solid 30px#f83680;
    box-sizing: content-box;
    margin-top: 10px;
}
.bg{
    background: url(images/section1_bg2.png) no-repeat right 0; 
}
.title{
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.check_box{
    position: absolute;
    top: 10px;
    right: 20px; 
    display: flex; 
}
.check{
    /* background: url(images/sns_bg.png) no-repeat center center; */
    width: 40px;
    height: 40px;
    margin: 3px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.six{
    position: relative;
}
.icon_fb{
    position: absolute;
    width: 20px;
    height: 18px;
    overflow: hidden;
    top: 14px;
    left: 12.5px;
}
.icon_tw{
    position: absolute;
    width: 20px;
    height: 18px;
    overflow: hidden;
    top: 14px;
    right: 12.5px;
}
.check:hover .six img{
    animation: rotate .3s ease;
    animation-play-state: 1;
    animation-fill-mode: forwards;
}
.check:hover .icon_fb img,.check:hover .icon_tw img{
    transform: translateY(-16px);
}
.banner_box{
    width: 90%;
    margin: 0 auto 30px;
    border: 10px solid #000;
    position: relative;
    cursor: pointer;
    overflow: hidden; 
    transition: .5s;
}
.banner_picture,.banner_picture_2{
    transition: .5s;
}
.banner_picture img,.banner_picture_2 img{
    width: 100%;
    transform: scale(1.02);
}
.banner_picture_2{
    width: 0;
    height: 0;
    overflow: hidden;
}
.movie_pic img, .s_box1 img{
    width: 100%;
    transition: .5s
}
.hover_more{
    position: absolute;
    width: 255px;
    border: solid 4px #f83680;
    padding: 20px 50px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.5);
    opacity: 0;
    transition: .5s;
    z-index: 101;
}
.banner_box:hover .banner_picture,.banner_box:hover .banner_picture_2{
    transform: scale(1.1);
    filter: brightness(20%);
}
.banner_box:hover .hover_more{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1)
}
/* banner的部分到這裡 */
.sub_title{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 106px;
}
.title_text{
    margin-left: 80px;
}
.sub_title span{
    margin-bottom: 50px;
}
.area{
    display: flex;
    justify-content: center;
}
.s_box_l,.s_box_r{
    width: 48%;
    margin: 5px;
    position: relative;
    overflow: hidden;
    background-size: 100%;
    cursor: pointer;
}
.pic_big{
    transition: .5s;
}
.s_box_l:hover .hover_more, .s_box_r:hover .hover_more{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}
.s_box_l:hover .pic_big, .s_box_r:hover .pic_big{
    transform: scale(1.1);
    filter: brightness(20%);
}
/* section1的部分到這裡 */
.section2_bg1{
    background: url(images/section3_bg1.jpg)no-repeat center 0;
    background-size: cover;
}
.section2_bg2{
    background: url(images/section3_bg2.jpg)no-repeat center center;
    background-size: cover;
}
.s_box2{
    position: relative;
    margin: auto;
}
.movie{
    position: relative;
    margin: 0 auto 50px;
    width: 695px;
    height: 384px;
    border: 10px solid #000;
    overflow: hidden;
    cursor: pointer;
}
.movie_pic{
    transition: .5s;
}
.movie_bottom, .movie_play{
    position: absolute;
    bottom: 0;
    left: 50%;
}
.movie_play{
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: .5s;
    z-index: 103;   
}
.movie_bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 105;
}
.movie_box_for{
    width: 695px;
    position: relative;
    /* border: solid 3px #fff; */
}
.boom,.people,.thing{
    position: absolute;
}
.boom{
    left: -100px;
    top: -100px;
    z-index: 102;
}
.people{
    left: -350px;
    top: 50px;
    animation: up_down 6s infinite;
}
.thing{
    right: -230px;
    top: -90px;
    animation: up_down 6s infinite;
    animation-delay: 1s;
}
.movie:hover .movie_play{
    transform: translateX(-50%) translateY(-50%) scale(1.1); 
}
.movie:hover .movie_pic{
    transform: scale(1.1);
    filter: brightness(20%);
}
/* section2的部分到這裡 */
.section3_bg1{
    background: url(images/section4_bg1.jpg)no-repeat left top;
}
.section3_bg2{
    background: url(images/section4_bg2.jpg)no-repeat right bottom;
    position: relative;
    height: 570px;
}
.s_box3{
    display: block;
    height: 354px;
    width: 2400px;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 15%;
    transition: .5s;
}
/*--實驗--*/
.to_l{
    position: absolute;
    top: 270px;
    left: 30px;
    opacity: 0;
    cursor: pointer;
}
.to_r{
    position: absolute;
    top: 270px;
    right: 30px;
    opacity: .7;
    cursor: pointer;
}
.s_box3_intell{
    width: 300px;
    height: 350px;
    margin: 0px 12px;
    background: linear-gradient(-45deg, rgb(14, 14, 14) 0%,rgba(38,38,38,1) 100%);
    position: relative;
    display: inline-block;
    cursor: pointer;
    animation: list 1s cubic-bezier(.63,.11,.52,.93);
    animation-delay: 1s;
    transition: .5s;
}
.s_box3_intell:hover{
    transform-origin: 120px 0;
    transform: rotateY(30deg);
}
.ready_pic{
    height: 166px;
    overflow: hidden;
}
.ready_pic img{
    width: 100%;
    object-fit: contain;
}
.time{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: linear-gradient(-45deg, rgba(135,219,170,1) 0%,rgba(29,149,175,1) 100%);
    position: absolute;
    top: 131px;
    left: 30px;
    font-weight: 900;
    text-align: center;
    letter-spacing: -1px;
    padding: 6px 10px;
}
.time h3{
    font-size: 25px;
}
.time p{
    font-size: 15px;
}
.ready_text{
    color: #fff;
    margin: 70px 30px 50px;
}
.more_detail{
    width: 117px;
    height: 14px;
    background: url(images/more.png)no-repeat 0 top;
    overflow: hidden;
    margin-left: 30px;
}
.s_box3_intell:hover .more_detail {
    background: url(images/more.png)no-repeat 0 bottom;
}
_bg{
    width: 194px;
    height: 36px;
    margin: 380px auto 40px;
    background: url(images/read.png)no-repeat 0 0;
    background-size: fill;
    overflow: hidden;
    cursor: pointer;
}
.read_more:hover{
    background: url(images/read.png)no-repeat 0 bottom;
}
/* section3的部分到這裡 */
.pink, .s5_bg, .pink_2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f83680;
}
.s_box4{
    flex-grow: 1;
    height: 580px;
    margin: 10px 0 0;
}
.s_box4_l{
    border-right: solid 5px #f83680;
    background: url(images/tt_bg.jpg) no-repeat left top;
}
.s_box4_r{
    border-left: solid 5px #f83680;
    background: url(images/news_bg.jpg) no-repeat right top;   
}
.talk_box{
    width: 402px;
    height: 410px;
    border-radius: 10px;
    margin: auto;
    border-top: solid 50px #000;
    border-bottom: solid 50px #000;
    background-color: #111;
}
.talk_box_box{
    width: 380px;
    height: 310px;
    margin: auto;    
    overflow: scroll;
    overflow-x: hidden;    
}
.talk_box_small{
    height: 96px;
    border-radius: 5px;
    margin: 5px;
    background-color: #000;
    padding: 15px;  
}
.talk_box_small h5{
    font-size: 18px;
    margin: 5px 0;
    color: #85e9af;
}
.talk_box_small p{
    font-size: 12px;
    color:#fff;
}
.talk_box_small:hover{
    background-color: rgb(10, 10, 10);
}
/* section4的部分到這裡 */
.s5_bg{
    background: url(images/section7_bg.jpg) no-repeat center center;
    background-size: cover;
}
.s_box5{
    width: 308px;
    height: 110px;
    margin: 40px 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .5s;
}
.s_box5_l{
    background: url(images/section7_banner1.png) no-repeat center center;
    overflow: hidden;
}
.s_box5_r{
    background: url(images/section7_banner2.png) no-repeat center center;
    overflow: hidden;
}
.white_block{
    position: absolute;
    background-color: rgba(255, 255, 255, .3);
    opacity: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 150px;
}
.s_box5:hover .white_block{
    opacity: .4;
}
/* section5的部分到這裡 */
.pink_2{   
    height: 72px;
}
/* section6的部分到這裡 */
footer{
    background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) -100%,rgba(0,61,206,1) 100%);
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}
.company ul li{
    display: inline-block;
    margin: 20px 10px 5px;
}
.company ul li a{
    color: #fff;    
}
.company ul li a:hover{
    color: #80bbff;   
}
.company p{
    color: #80bbff;
}
.country{
    text-shadow: -1px 1px 5px rgba(255, 255, 255, 0.781);
    margin-bottom: -10px;
    cursor: pointer;
}